* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.search-form {
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1450px;
  margin: 0 auto;
}
.photo-card {
  width: 270px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: #f1f1f1;
  color: #7c7c7c;
  text-decoration: none;
}

.img-wrapper {
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

b {
  font-size: 14px;
  text-align: center;
}

span {
  text-align: center;
}
/* 
<div class='photo-card'>
  <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
  <div class='info'>
    <p class='info-item'>
      <b>Likes</b>
      <span>{{likes}}</span>
    </p>
    <p class='info-item'>
      <b>Views</b>
      <span>{{views}}</span>
    </p>
    <p class='info-item'>
      <b>Comments</b>
      <span>{{comments}}</span>
    </p>
    <p class='info-item'>
      <b>Downloads</b>
      <span>{{downloads}}</span>
    </p>
  </div>
</div> */
