* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.search-form {
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1450px;
  margin: 0 auto;
}
.photo-card {
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: #f1f1f1;
  color: #7c7c7c;
  text-decoration: none;
}

.img-wrapper {
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

b {
  font-size: 12px;
  text-align: center;
}

span {
  text-align: center;
}

/*  begin bounce css */
.bounce.show {
  opacity: 1;
}

.bounce {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  opacity: 0;
}

.bounce > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce .bounce1 {
  animation-delay: -0.32s;
}

.bounce .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.arrow {
  position: fixed;
  z-index: 5;
  right: 30px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  background: #5350f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow:hover {
  background: #817ffa;
  cursor: pointer;
}

.arrow span {
  font-size: 20px;
  color: #fff;
}
